main {
  flex: 1;
  margin-left: 380px;

}


main ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media(max-width: 600px){
  main ul{
    grid-template-columns: 1fr;
  }
}



